.margin {
	margin: 0 0;
}

.app__openingHours-img {
    position: relative;
    height: 600px;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;

}

.lol {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__openingHours-data {
    background-color: var(--third-color);
    height: 350px;
    width: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    line-height: 50px;
}

.app__openingHours-data h1 {
    font-family: var(--font);
    font-weight: 400;
}

.app__openingHours-data h2 {
    font-family: var(--font);
    font-weight: 400;
}

@media screen and (max-width: 850px) {
    .app__openingHours-img {
        position: relative;
        height: 400px;
    }

    .app__openingHours-data {
        height: 250px;
        width: 450px;
        line-height: 20px;
    }
}

@media screen and (max-width: 650px) {
    .app__openingHours-img {
        position: relative;
        height: 250px;
    }

    .app__openingHours-data {
        height: 150px;
        width: 250px;
        line-height: 20px;
    }

    .app__openingHours-data h1 {
        font-size: 20px;
    }
    
    .app__openingHours-data h2 {
        font-size: 16px;
    }
}