.app__header {
    background-image: url("../../assets/front.png");
    min-height: 85vh;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__header-hr {
    width: 80px;
    border-style: none;
    background-color: black;
    height: 2px;    
    margin-left: 0px;
}

.app__wrapper_info {
     background-color: #e3d4bf;
     padding: 60px 30px;
     height: 300px;
     border-radius: 3px;
}

.app__header-h1 {
    font-family: var(--font);
    font-weight: 400;
    line-height: 100px;
    font-size: 72px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.app__header-Welcome {
    color: var(--red-color);
    margin: 0;
    font-size: 96px;
    font-weight: 700;
}

h2 {
    font-family: var(--sub-font);
}

.app__header-img img {
    width: 80%;
}

@media screen and (min-width: 2000px) {
    .app__header-h1 {
        font-size: 180px;
        line-height: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app__header {height: auto;}
    .app__wrapper_info {
        padding: 10px;
        max-height: 450px;
    }
    .app__header-h1 {
        font-size: 90px;
    }
}

@media screen and (max-width: 650px) {
    .app__header {
        min-height: 75vh;
    }
    .app__wrapper_info {
        max-height: 400px;
        padding: 18px;
    }
    .app__header-h1 {
        font-size: 70px;
        line-height: 87px;
    }

    .app__header-Welcome {
        font-size: 52px;
    }
}

@media screen and (max-width: 450px) {
    .app__header-h1 {
        font-size: 35px;
        line-height: 45px;
        padding-bottom: 10px;
    }
    .app__header-Welcome {
        font-size: 50px;
    }
}